<a href="https://colab.research.google.com/github/Gideon-Muazu/Gideon-Muazu/blob/main/stage_A_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
food_data = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

**What is the total number and percentage of missing data in 2014 to 3 decimal places?**

In [21]:
food_2014 = food_data["Y2014"].isnull().sum()
food_2014

1589

In [24]:
array  = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

In [31]:
array[ : 2, 1 : ]

array([[89, 63],
       [92, 48]])

In [32]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

**Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?**

In [41]:
countries_selected = ["South Africa", "Ethiopia", "Egypt", "Nigeria", "Kenya"]

filtered_data = food_data[food_data["Area"].isin(countries_selected)]
grouped_data = filtered_data.groupby("Area")["Y2017","Area"].sum()

print(grouped_data)

                   Y2017
Area
Egypt          866379.92
Ethiopia       448683.76
Kenya          264660.66
Nigeria       1483268.23
South Africa   517590.54

<ipython-input-41-e8c39f192340>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = filtered_data.groupby("Area")["Y2017","Area"].sum()
<ipython-input-41-e8c39f192340>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = filtered_data.groupby("Area")["Y2017","Area"].sum()

**What is the total sum of Wine produced in 2015 and 2018 respectively?**

In [60]:
food_data.groupby("Item")["Item","Y2015","Y2018"].sum().loc["Wine"]

<ipython-input-60-218fd2a111de>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby("Item")["Item","Y2015","Y2018"].sum().loc["Wine"]
<ipython-input-60-218fd2a111de>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  food_data.groupby("Item")["Item","Y2015","Y2018"].sum().loc["Wine"]

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

**Which year had the least correlation with ‘Element Code’?**

In [59]:
food_data.corr()['Element Code'].sort_values()

<ipython-input-59-ff6713c52ca5>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  food_data.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

**If you have the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = [‘Age’,’Nationality’,’Overall’]
How do you create a pandas DataFrame using this list, to look like the table below?**

In [61]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

**Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?**

In [62]:
food_data[['Area', 'Y2017']].groupby(['Area']).sum().sort_values(by ='Y2017')

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

**Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?**

In [63]:
food_data[['Y2017','Element']].groupby(['Element']).sum().loc['Processing']

Y2017    292836.0
Name: Processing, dtype: float64

**What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?**

In [66]:
rounded = food_data["Y2017"].agg({"mean","std"})
round(rounded, 2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

**What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]**

In [65]:

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

**What is the total Protein supply quantity in Madagascar in 2015?**

In [76]:
food_data[['Element','Area', 'Y2015']][food_data['Area'] == 'Madagascar'][food_data['Element'] == 'Protein supply quantity (g/capita/day)'].sum()

<ipython-input-76-9b9b083fa2ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  food_data[['Element','Area', 'Y2015']][food_data['Area'] == 'Madagascar'][food_data['Element'] == 'Protein supply quantity (g/capita/day)'].sum()

Element    Protein supply quantity (g/capita/day)Protein ...
Area       MadagascarMadagascarMadagascarMadagascarMadaga...
Y2015                                                 173.05
dtype: object

**Consider the following list of tuples:
y = [(2, 4), (7, 8), (1, 5, 9)]
How would you assign element 8 from the list to a variable x?**

In [78]:
y = [(2, 4), (7, 8), (1, 5, 9)] 
x = y[1][1]
x

8

**Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?**

In [79]:
food_data.groupby(['Element']).sum().loc['Stock Variation']

<ipython-input-79-6e0d232b2329>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  food_data.groupby(['Element']).sum().loc['Stock Variation']

Area Code         571566.00
Item Code       11329527.00
Element Code    21464704.00
Y2014              58749.83
Y2015              34910.99
Y2016              33140.12
Y2017              54316.91
Y2018              20577.91
Name: Stock Variation, dtype: float64